@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html, body { 
	background-color: #f6f8fa;
	margin: 0;
	padding: 0;
}

.tab { margin-left: 40px; }

.myButton {
color: rgb(255, 255, 255); font-size: 12px; line-height: 12px; padding: 5px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }


.article_representation1 {
	color: blue;
	font-size: 18px;
	font-family: "Varela Round";
}

.article_representation1_5 {
	color: purple;
	font-size: 18px;
	font-family: "Varela Round";
}

.article_representation2 {
	color: red;
	font-size: 18px;
	font-family: "Varela Round";
}

.credits {
	color: black;
	font-size: 10px;
}
